{% extends 'admin/base.html'%}
{% block app_content%}
{% if user_list%}
<table class="table table-bordered">
    <thead class="h3">

        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>authentication</td>
        <td>Delete</td>
        <td>Edit</td>

    </thead>
    <tbody>
    {% for u in user_list%}
    <tr>
        <td>{{u.id}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td>{% if u.admin == False %}Member{% else %}Adminstrator{% endif%}</td>
        <td><a href="{{ url_for('admin.delete',username=u.username)}}">Delete</a></td>
        <td><a href="{{ url_for('admin.edit',username=u.username)}}">Edit</a></td>
    </tr>

    {% endfor%}
    </tbody>
</table>
{% endif%}
{% endblock%}